footer.footer 
    .footer-top 
        .container 
            a.footer__logo(href="")
                div
                    span.footer__logo-start Simple
                    span.footer__logo-end Design
                span.footer__logo-bottom дизайн интерьера
            ul.footer__list 
                each item in ["Главная","Тест","О нас","Цены"]
                    li.footer__item= item
            p.footer__text Политика конфиденциальности Условия пользования
            .footer__contact
                a.footer__tel(href="tel:+77005053000")
                    i.far 
                    span +7 700 505 3000
                p.footer__tel-text с 9:00 до 18:00
    .footer-content 
        p.footer__created (с) 2022. Все права защищены.



