header.header
    include ./nav.pug
    .header-content
        h1.header__title Дизайн-проект для вашей квартиры за 2 недели и 199 000 ₸
        button.header__btn Консультация
    .header__deliver 
        p.header__deliver-text Мой заказ
        .header__deliver-bg
            i.far.header__deliver-icon