nav.header__nav
    .container  
        a.header__logo(href="./index.html")
            div
                span.header__logo-start Simple
                span.header__logo-end Design
            span.header__logo-bottom дизайн интерьера
        button.fas.header__nav-btn
        .header__nav-media
            ul.header__list
                li.header__item 
                    a.header__link.active(href="./index.html") Главная
                li.header__item 
                    a.header__link Тест
                li.header__item 
                    a.header__link Каталог
                li.header__item 
                    a.header__link(href="./about.html") О&nbsp;нас
                li.header__item 
                    a.header__link Цены
            .header__contact
                a.header__tel(href="tel:+77005053000")
                    i.far 
                    span +7 700 505 3000
                p.header__tel-text с 9:00 до 18:00