@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url(../fonts/MontserratAlternates-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url(../fonts/MontserratAlternates-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url(../fonts/MontserratAlternates-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url(../fonts/MontserratAlternates-Bold.ttf);
    font-weight: 700;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
}
@font-face {
    font-family: 'Font Awesome 5 Brands';
    src: url(../fonts/fa-brands-400.ttf);
    font-weight: 400;
}
.fad {
    position: relative;
    font-family: 'Font Awesome 5 Duotone';
    font-weight: 900;
}
@font-face {
    font-family: 'Font Awesome 5 Duotone';
    src: url(../fonts/fa-duotone-900.ttf);
    font-weight: 900;
}
.fad:before {
    position: absolute;
    opacity: 1;
}

.fad:after {
    opacity: 0.4;
}

.fal {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
}
@font-face {
    font-family: 'Font Awesome 5 Pro';
    src: url(../fonts/fa-light-300.ttf);
    font-weight: 300;
}
.far {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
}
@font-face {
    font-family: 'Font Awesome 5 Pro';
    src: url(../fonts/fa-regular-400.ttf);
    font-weight: 400;
}
.fa,
.fas {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
}
@font-face {
    font-family: 'Font Awesome 5 Pro';
    src: url(../fonts/fa-solid-900.ttf);
    font-weight: 900;
}