.design{
    &__text{
        width: 70%;
        font-family: $alt;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        margin: 0 auto 40px;

        @media (max-width:768px) {
            width: 90%;
            margin-bottom: 30px;
        }
        @media (max-width:576px) {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    &__title{
        font-family: $alt;
        font-weight: 500;
        font-size: 30px;
        color: $black;
        margin: 40px 0;
        position: relative;
        display: flex;
        align-items: center;
        &::after{
            content: "";
            width: 65%;
            height: 3px;
            background: #CBCBCB;
            position: absolute;
            right: 0;
            top: 50%;

            @media (max-width:576px) {
                margin-left: 5%;
                flex-grow: 1;
                position: relative;
            }
        }
    }
    &-content{
        display: flex;
        justify-content: space-between;

        @media (max-width:1200px) {
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
    &__box{
        width: 363px;
        display: flex;
        flex-direction: column;

        
        @media (max-width:1200px) {
            margin-top: 20px;
        }
        @media (max-width:400px) {
            width: 100%;
        }

        &-title{
            width: 182px;
            height: 56px;
            font-family: $alt;
            font-weight: 600;
            font-size: 20px;
            color: $black;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__img{
        width: 100%;
        height: 266px;
        border-radius: 20px;
        margin-bottom: 33px;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__box-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__add{
        width: 182px;
        height: 56px;
        background: #FAFAFA;
        border-radius: 100px;
        font-family: $alt;
        font-weight: 500;
        font-size: 15px;
        color: $gold;
        border: none;
        &:hover{
            background: $gold;
            color: #FAFAFA;
        }
    }
    &__btn{
        padding: 22px 55px;
        border-radius: 100px;
        background: $gold;
        border: none;
        display: block;
        margin: 80px auto;
        font-family: $alt;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        transition: 0.2s;
        &:hover{
            transform: scale(1.2);
        }
        @media (max-width:400px) {
            padding: 12px 25px;
            border-radius: 50px;
            margin: 30px;
        }
    }
}