doctype html
html(lang="en")
    include views/layout/head.pug
    body 
        include views/layout/header.pug
        main 
            include views/component/deliver.pug
            include views/component/design.pug
            include views/component/info.pug
            include views/layout/footer.pug


        script(src="./js/common.min.js") 
























































