section.deliver 
    .container 
        .deliver__box 
            i.fal.deliver__icon 
            .deliver__info 
                h3.deliver__title 2 недели 
                p.deliver__text срок выполнения заказа
        .deliver__box 
            i.fal.deliver__icon 
            .deliver__info 
                h3.deliver__title Не важно
                p.deliver__text Сколько квадратов, цена - одна!
        .deliver__box 
            i.fal.deliver__icon 
            .deliver__info 
                h3.deliver__title Рассрочка 
                p.deliver__text до 24 месяцев