h3.design__title Гостиные
.design-content 
    .design__box 
        .design__img 
            img(src="./images/guest1.png", alt="guest") 
        .design__box-btn 
            p.design__box-title Акварель
            button.design__add Выбрать
    .design__box 
        .design__img 
            img(src="./images/guest2.png", alt="guest") 
        .design__box-btn 
            p.design__box-title Ира
            button.design__add Выбрать
    .design__box 
        .design__img 
            img(src="./images/guest3.png", alt="guest") 
        .design__box-btn 
            p.design__box-title Нурс
            button.design__add Выбрать