section.design 
    .container 
        h2.section__title Дизайн комнат
        p.design__text Выбирая дизайн комнаты, вы получаете смету со списком всех предметов в интерьере, названиями, артикулами, цветом стен и так далее.
        .design__block 
            include designGuest.pug
            include designChild.pug
            include designHall.pug
        button.design__btn К каталогу комнат


