section.info
    .info-top 
        .container
            h2.info-top__title Давайте определим, что вам нравится
            p.info-top__text Пройдите короткий тест и мы покажем подходящие вам стилевые решения
            button.info-top__btn Пройти тест
    .info-content 
        .container 
            h2.info-content__title Часто задаваемые вопросы
            .info__accar 
                .info__box.active 
                    .info__box-head 
                        i.far 
                        h3.info__box-title Вопрос
                    .info__box-body 
                        p.info__box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh at ornare turpis sit lacus, in viverra volutpat. Id sed quam consectetur condimentum tellus pellentesque a, convallis metus. Hac dui sit cursus ac id aliquet. A convallis suspendisse in nulla risus, senectus vitae. Condimentum in aliquet egestas aliquam at eu. Id bibendum iaculis netus ipsum quis amet lectus nisi mattis. Sit porttitor a vulputate aliquam elementum, odio lacus.
                .info__box 
                    .info__box-head 
                        i.far 
                        h3.info__box-title Вопрос
                    .info__box-body 
                        p.info__box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh at ornare turpis sit lacus, in viverra volutpat. Id sed quam consectetur condimentum tellus pellentesque a, convallis metus. Hac dui sit cursus ac id aliquet. A convallis suspendisse in nulla risus, senectus vitae. Condimentum in aliquet egestas aliquam at eu. Id bibendum iaculis netus ipsum quis amet lectus nisi mattis. Sit porttitor a vulputate aliquam elementum, odio lacus.
                .info__box 
                    .info__box-head 
                        i.far 
                        h3.info__box-title Вопрос
                    .info__box-body 
                        p.info__box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh at ornare turpis sit lacus, in viverra volutpat. Id sed quam consectetur condimentum tellus pellentesque a, convallis metus. Hac dui sit cursus ac id aliquet. A convallis suspendisse in nulla risus, senectus vitae. Condimentum in aliquet egestas aliquam at eu. Id bibendum iaculis netus ipsum quis amet lectus nisi mattis. Sit porttitor a vulputate aliquam elementum, odio lacus.
                .info__box 
                    .info__box-head 
                        i.far 
                        h3.info__box-title Вопрос
                    .info__box-body 
                        p.info__box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh at ornare turpis sit lacus, in viverra volutpat. Id sed quam consectetur condimentum tellus pellentesque a, convallis metus. Hac dui sit cursus ac id aliquet. A convallis suspendisse in nulla risus, senectus vitae. Condimentum in aliquet egestas aliquam at eu. Id bibendum iaculis netus ipsum quis amet lectus nisi mattis. Sit porttitor a vulputate aliquam elementum, odio lacus.
                .info__box 
                    .info__box-head 
                        i.far 
                        h3.info__box-title Вопрос
                    .info__box-body 
                        p.info__box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh at ornare turpis sit lacus, in viverra volutpat. Id sed quam consectetur condimentum tellus pellentesque a, convallis metus. Hac dui sit cursus ac id aliquet. A convallis suspendisse in nulla risus, senectus vitae. Condimentum in aliquet egestas aliquam at eu. Id bibendum iaculis netus ipsum quis amet lectus nisi mattis. Sit porttitor a vulputate aliquam elementum, odio lacus.