section.command
    p.command__text Команда Simple 
        span Design
    h1.command__title Первый интернет-сервис дизайна интерьера в Казахстане
    img.command__img(src="./images/command.png", alt="")