section
  h2.slider__title В команде Simple design 21 человек
  div.slider
    .slider__inner
      .slider__item.active
        img.slider__img(src='./images/slider1.png', alt='slider')
      .slider__item
        img.slider__img(src='./images/slider1.png', alt='slider')
      .slider__item
        img.slider__img(src='./images/slider1.png', alt='slider')
      .slider__item
        img.slider__img(src='./images/slider1.png', alt='slider')
      .slider__item
        img.slider__img(src='./images/slider1.png', alt='slider')
    button.slider__left(data-target='prev')
      i.far
    button.slider__right(data-target='next')
      i.far