section.video 
    h2.video__title За 4 года мы реализовали более 250 проектов
    div.container
        video(src="./videos/video.mp4").video__mp4
        div.video__speed-text 1x
        .video__media
            .video-top
                p.video__start#start 00:00:00
                .video__line 
                    .video__progress
                        .video__progress-ruler
                p.video__end#end 00:00:00
            .video-bottom
                i.far.video__restart
                .video__icons
                    i.far.video__prev-speed
                    i.far.video__prev
                    i.far.video__play
                    i.far.video__next
                    i.far.video__next-speed
                    div.video__volume 
                        i.far.video__volume-icon.normal
                        input(type="range", name="").video__volume-range
                i.far.video__screen 
                

